{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
    <h1>Página de Inicio</h1>
    <p class="lead"> Proyecto de Prueba Tecnica por  <u>Martino Herrera Sanchez </u> para <strong>SOFT del NOA<strong></p> 
{% endblock %}


{% block content %}{% endblock %}